# Import Pandas

In [2]:
import pandas as pd

In [6]:
names = ['id', 'title', 'year', 'rating','votes', 'length', 'genres' ]
data = pd.read_csv('imdb_top_10000.txt', sep="\t", names = names, index_col=0)

# Exploring our Data

In [13]:
data.head(3)

,title,year,rating,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   10000 non-null  object
 1   year    10000 non-null  int64
 2   rating  10000 non-null  float64
 3   votes   10000 non-null  int64
 4   length  10000 non-null  object
 5   genres  9999 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.9+ KB

In [15]:
data.describe()

               year        rating          votes
count  10000.000000  10000.000000   10000.000000
mean    1993.472800      6.386070   16604.012800
std       14.829924      1.189933   34563.459698
min     1950.000000      1.500000    1356.000000
25%     1986.000000      5.700000    2333.750000
50%     1998.000000      6.600000    4980.500000
75%     2005.000000      7.200000   15277.750000
max     2011.000000      9.200000  619479.000000

# Exporting Data

In [17]:
data.to_csv('test.csv', header=True, index=True, sep=',')

In [23]:
data.sort_values(by='rating', ascending=False)

,title,year,rating,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0068646,The Godfather (1972),1972,9.2,474189,175 mins.,Crime|Drama
tt0060196,"The Good, the Bad and the Ugly (1966)",1966,9.0,195238,161 mins.,Western
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0252487,Outrageous Class (1975),1975,9.0,9823,87 mins.,Comedy|Drama
...,...,...,...,...,...,...
tt0364986,Ben & Arthur (2002),2002,1.5,4675,85 mins.,Drama|Romance
tt0060753,Night Train to Mundo Fine (1966),1966,1.5,3542,89 mins.,Action|Adventure|Crime|War
tt0421051,Daniel the Wizard (2004),2004,1.5,8271,81 mins.,Comedy|Crime|Family|Fantasy|Horror
tt0059464,Monster a-Go Go (1965),1965,1.5,3255,70 mins.,Sci-Fi|Horror
tt0060666,Manos: The Hands of Fate (1966),1966,1.5,20927,74 mins.,Horror

# Creating Data Frames from Scratch

In [25]:
sample_data = {
    'tv': [230,44, 17], 
    'radio': [37, 39, 45], 
    'news': [69, 45, 69],
    'sales':[22, 10, 9]
}

In [26]:
data2 = pd.DataFrame(sample_data)

NameError: name 'sample_data' is not defined